
/*================================
color
===============================*/
$base-color: #2F2F2F;
$base-color2: #333;
$base-color3: #fff;
$base-color4: #bdbdbd;
$base-color5: #4f4f4f;
$main-color: #F2F2F2;
$accent-color: #159741;